<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel = 'stylesheet' href = "style.css">
</head>
<body>
<div class ="binds">
<h1>Key Binds</h1>
<hr>

<div class = "box">
<label id = "closed" for = "closed">Closed Hand : </label>
<input type = "text" placeholder = "Zoom in" id = "closedInput" for = "closed">
<img src = 'handgraphics/closed.jpg' style = "width:90px; margin-left:50px;">
</div>
<hr>
<div class = "box">
<label id = "open">Open Hand : </label>
<input type = "text" placeholder = "Space" id = "openInput">
<img src = 'handgraphics/open.jpg' style = "width:100px; margin-left:50px;">
</div>

<hr>


<button id = "allchanges">Submit All Changes</button>

<p id = 'response'></p>
</div>
<script>
    window.onload = () => {
        fetch(`/api/load`)
        .then(res => res.json())
        .then(data => {
            document.getElementById('closedInput').value = data.closed;
            document.getElementById('openInput').value = data.open;
            document.getElementById('')
        });
    };

    function sendData(){

        const closed = document.getElementById('closedInput').value;
        const opened = document.getElementById('openInput').value ;

        fetch('/api/buttonclick',{
            method : 'POST',
            headers : { 'Content-Type' : 'application/json'},
            body : JSON.stringify({'open' : opened,
                                    'closed' : closed})
        })
        .then(res => res.json)
        .then(data => document.getElementById('response').textContent.message)
    }
</script>
</body>
</html>