<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel = 'stylesheet' href = "style.css">
</head>
<body>
<div class ="binds">
<h1>Key Binds</h1>
<hr>

<div class = "box">
<label id = "closed" for = "closed">Closed Hand : </label>
<input type = "text" placeholder = "Zoom in" id = "closedInput" for = "closed">
<img src = 'handgraphics/closed.jpg' style = "width:90px; margin-left:50px;">
</div>
    <hr>
    <div class = "box">
<label id = "pointer">Pointer finger : </label>
<input type = "text" placeholder = "b" id = "pointerInput">
<img src = 'handgraphics/pointer.png' style = "width:100px; margin-left:50px;">
    </div>
    <hr>
<div class = "box">
<label id = "peace">Peace Sign : </label>
<input type = "text" placeholder = "e" id = "peaceInput">
<img src = 'handgraphics/peace.png' style = "width:100px; margin-left:50px;">
    </div>
    <hr>
    <div class = "box">
<label id = "pinch1">Pinch In : </label>
<input type = "text" placeholder = "e" id = "pinch1Input">
<img src = 'handgraphics/pinch1.png' style = "width:100px; margin-left:50px;">
    </div>
    <hr>
       <div class = "box">
<label id = "pinch2">Pinch Out : </label>
<input type = "text" placeholder = "e" id = "pinch2Input">
<img src = 'handgraphics/pinch1.png' style = "width:100px; margin-left:50px;">
    </div>
    <hr>


</div>

<hr>
<h1 id = "response"></h1>
<button id = "allchanges" onsubmit = sendData() >Submit All Changes</button>

</div>
<script>
    window.onload = () => {
        fetch(`/api/load`)
        .then(res => res.json())
        .then(data => {

            document.getElementById('closedInput').value = data.closedOff;
            document.getElementById('fingerInput').value = data.pointer;
            document.getElementById('peaceInput').value = data.peace;
            document.getElementById('pinch1Input').value = data.pinch1value;
            document.getElementById('pinch2Input').value = data.pinch2value;
        });
    };

    function sendData(){

        const closed = document.getElementById('closedInput').value;
        const pointer = document.getElementById('pointerInput').value;
        const peace = document.getElementById('peaceInput').value;
        const pinch1 = document.getElementById('pinch1Input').value;
        const pinch2 = document.getElementById('pinch2Input').value;

        fetch('/api/buttonclick',{
            method : 'POST',
            headers : { 'Content-Type' : 'application/json'},
            body : JSON.stringify({
                'closedOff': closed,
                'pointer': pointer,
                'peace' : peace,
                'pinch1' : pinch1,
                'pinch2': pinch2
            })
        })
        .then(res => res.json)
        .then(data => document.getElementById('response').textContent = data.message)
    }
</script>
</body>
</html>