body{

    background-color:white;
    font-family: Arial, sans-serif;
    text-align:center ;
    align-items: center;
    min-width:600px;
    min-height: 100vh;
}
.container{

    max-width:100%;
    display:block;

}
.box{
    color:white;
    box-shadow:1px 1px 8px rgb(0,0,0,0.2);
    border-radius : 8px;
    padding:10px;
    margin:10px;
    color: black;
    display: flex;

  justify-content: center;
  align-items: center;


}
.video{
    margin-left:40px;
    justify-content: center;
    align-items: center;
    box-shadow:1px 1px 8px rgb(0,0,0,0.2);
    border-radius : 8px;


}
.hand-input{
 justify-content: right;
    align-items: right;
max-width:150px;
}
#webcam{
border-radius:20px;}
.color:hover{
    color:blue;
    padding:10px;
    background-color: #ebeced;
    border-radius:10px;
    transition: all 0.3s ease-out;
}

input{
    width:100px;
    margin-left: 10px;
    margin:10px;
}


.binds{
    display:flex-inline;

    border : solid #D3D3D3 1.9px;
    border-radius : 8px;
}

button{
    border-radius:3px;
    border: 2px solid #1c6625;
  background-color: white;
  color: #1c6625;
  padding: 14px 28px;
  font-size: 16px;

}

button:hover{

    color:white;
    cursor: pointer;
    background-color: #1c6625;
}