body{
    width:100%;

     font-family: Arial, sans-serif;
    text-align:center ;
    align-items: center;
}
.container{
    width:100%;
    display:flex;
}
.box{
    border: 1px solid black;
    border-radius : 10px;
    padding:10px;
    width:200px;
    margin:10px;
    color: black;
    justify-content: center;
    align-items: center;

}
.video{
margin-left:30px;
justify-content: center;
    align-items: center;
display:flex-inline;
}
.color:[hover]{
    color:blue;
}

input{
    width:100px;
    margin-left: 10px;
}

.binds{
    display:flex-inline;
}

button{
    
    border: 2px solid #1c6625;
  background-color: white;
  color: #1c6625;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
    color:white;
    background-color: #1c6625;
}