body{

    background-color:white;
    font-family: Arial, sans-serif;
    text-align:center ;
    align-items: center;

}
.container{

    width:100%;
    display:flex;
     text-align:center ;
    align-items: center;

}
.box{
    color:white;
    box-shadow:1px 1px 8px rgb(0,0,0,0.2);
    border-radius : 8px;
    padding:10px;

    margin:10px;
    color: black;
    justify-content: center;
    align-items: center;

}
.video{
    margin-left:40px;
    justify-content: center;
    align-items: center;
    box-shadow:1px 1px 8px rgb(0,0,0,0.2);
    border-radius : 8px;
    display:flex-inline;

}

#webcam{
border : solid black 1px;}
.color:hover{
    color:blue;
}

input{
    width:100px;
    margin-left: 10px;
}

.binds{
    display:flex-inline;
    width:50%;
    box-shadow:1px 1px 8px rgb(0,0,0,0.2);
    border-radius : 8px;
}

button{
    border-radius:3px;
    border: 2px solid #1c6625;
  background-color: white;
  color: #1c6625;
  padding: 14px 28px;
  font-size: 16px;

}

button:hover{
    color:white;
    cursor: pointer;
    background-color: #1c6625;
}